<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Clinical Genomics DBMS</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>
        <h1>Clinical Genomics & Precision Medicine</h1>
        <p>Data Management System</p>
    </header>
    
    <nav>
        <a href="/">Dashboard</a>
        <a href="#">Patients</a>
        <a href="#">Samples</a>
        <a href="#">Sequencing Runs</a>
        <a href="#">Genes</a>
        <a href="#">Variants</a>
        <a href="#">Clinical Annotations</a>
        <a href="#">Reports</a>
    </nav>
    <div class="container">

    <div class="card">
        <h2>Welcome!</h2>

        <p>
            This application is an academic DBMS project
            using Python Flask and MySQL.
        </p>

        <p>
            The system uses synthetic educational data
            for clinical genomics and precision medicine.
        </p>
    </div>

    <div class="dashboard-cards">

    <div class="stat-card">
        <h3>Total Patients</h3>
        <p>0</p>
    </div>

    <div class="stat-card">
        <h3>Total Samples</h3>
        <p>0</p>
    </div>

    <div class="stat-card">
        <h3>Sequencing Runs</h3>
        <p>0</p>
    </div>

    <div class="stat-card">
        <h3>Total Variants</h3>
        <p>0</p>
    </div>

    <div class="stat-card">
        <h3>Total Genes</h3>
        <p>0</p>
    </div>

    <div class="stat-card">
        <h3>Pathogenic Variants</h3>
        <p>0</p>
    </div>

    <div class="stat-card">
        <h3>QC-Passed Runs</h3>
        <p>0</p>
    </div>

</div>